# -*- mode: ruby -*-
# vi: set ft=ruby :
# require 'berkshelf/vagrant'

# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.omnibus.chef_version = :latest
  config.vm.define :app do |app|
    app.vm.box = "centos64_ja"
    app.vm.box_url = "http://file.yucchiy.com/public/centos64_ja.box"
    # app.vm.box = "centos64-laravel4"
    # app.vm.box_url = "http://file.yucchiy.com/public/centos64-laravel4-20140317.box"
    app.vm.network :private_network, ip: "192.168.23.10"
    app.vm.synced_folder ".", "/vagrant", :nfs => true
    app.vm.provider "virtualbox" do |vb|
      vb.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
      vb.customize ["modifyvm", :id, "--memory", "1024"] # 1024MB
    end

    app.vm.provision :chef_solo do |chef|
      chef.cookbooks_path = ['site-cookbooks']
      chef.run_list = [
        'recipe[laravel4::default]',
      ]
      chef.json = {
        :document_root => "/usr/local/webapp/public",
        :log_prefix => "laravel4",
        :phpmyadmin => {
          :document_root => "/usr/local/phpmyadmin",
          :log_prefix => "phpmyadmin",
          :version => "4.0.5"
        }
      }
    end
  end
end

